<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job description</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body style="background-color: #f0f2f5;;">
    <nav class="navbar navbar-expand fixed-top" style="background-color: #4262a7;;" data-bs-theme="light">
        <div class="container">
            <a class="navbar-brand" href="#" style="font-size: 60px; color: white;"><b>Job Openings</b></a>
            <div class="justify-content-end">
                <ul class="navbar-nav">
                    <li style="color: white; font-size: 25px;" class="pe-4">About</li>
                    <li style="color: white; font-size: 25px;" class="pe-4">Contact Us</li>
                    <input type="text" name="" id="" placeholder="Search" style="border-radius: 7px; border-color: #4262a7;" class="pe-4">
                    <i class="bi bi-search ps-2 pt-2 " style="color: white; font-size: 20px;"></i>
                </ul>
            </div>
        </div>
    </nav>

    <main class="flex-fill" style="margin-bottom: 50px; margin-top: 150px;">
        <div class="container">
            <div class="row" >
                <div class= 'col-9 p-4' style="background-color: white;">
                    <img src="{{job.logo.url}}" alt="{{job.title}}" style="max-height: 340px; width:auto;">
                    <h1>{{job.title}}</h1>
                    <p style="color: grey;">{{job.date}}</p>
                    <p>{{job.com_description}}</p>
                    <h2>Job Description</h2>
                    <div class="job_content">
                        {{job.job_description| safe}}
                    <h2>Job Details</h2>
                    </div>
                    {% for key, value in job.job_details.items %}
                    <p><b>{{key}} :</b> {{value}}</p>
                    {% endfor %}
                    <br>
                    <a href="{{job.link}}"><h2><b>Apply link</b></h2></a>
                </div>
                <div class="col-3">
                    <ul style="background-color: white;">
                        {% for job in jobs %}
                        <li style="list-style-type: none;"><a href="{% url 'job' job.slug %}" target="_self" style="text-decoration: none; font-size: large;">{{job.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer class="mt-auto" style="background-color: white;">
        <div class="container">
            <p style="margin-top: 30px; margin-left: 10px;">© 2025 Job Openings</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>